header{
    width: 100%;
    height: 80px;
    background-color: rgb(133, 75, 0);
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    
}
ul{
    list-style: none;  
    padding: 0;        
    margin: 0; 
    display: flex;
    align-items: center;
    justify-content: center;   
    gap: 20px;
}